00_GLY1.faa	10_GLMA.faa
01_CAR1.faa	03_CAPA.faa
02_LAC1.faa	05_CUSA.faa
03_MAC1.faa	07_RASA.faa
04_APT1.faa	00_BEVU.faa
05_PAP1.faa	08_MADO.faa
06_SES1.faa	16_SEIN.faa
08_SYR1.faa	15_NIBE.faa
09_TOM1.faa	13_SOLY.faa
10_PER1.faa	09_PRPE.faa
11_GAR1.faa	22_COAR.faa
12_HEL1.faa	17_HEAN.faa
13_MEL1.faa	14_NITA.faa
14_SPI1.faa	01_SPOL.faa
15_PHA1.faa	11_PHVU.faa
17_ORY1.faa	19_ORSA.faa
18_JAP1.faa	18_HOVU.faa
19_MAC2.faa	06_ARTH.faa
20_ATR1.faa	20_TRAE.faa
21_CAN1.faa	25_CASA.faa
22_PHA2.faa	12_VIRA.faa
23_ACT1.faa	02_ACCH.faa
24_AVE1.faa	23_COAV.faa
32_SYR7.faa	24_PYCO.faa
33_SYR8.faa	21_ZEMA.faa
35_CIC1.faa	04_CUME.faa